In [52]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [53]:
# Step 1: Data Loading
train_data = pd.read_csv('C:/Users/ASUS 502/Downloads/p2_test.csv')
test_data = pd.read_csv('C:/Users/ASUS 502/Downloads/p2_train.csv')

In [54]:
train_data.head()

,-1.453097910426269124e+00,-3.535848257385223903e+00,4.957581238204904039e+00,5.738079256556334258e+03
0,-0.951478,-4.954119,-4.572673,391.728338
1,3.876805,9.707116,6.012681,72127.820634
2,4.944532,8.173724,2.526409,35939.928053
3,8.422242,1.181565,3.208955,365974.814979
4,3.783887,-0.606017,-7.682480,21394.930705

In [55]:
train_data.columns=["Feature1","Feature2","Feature3","Target_value"]

In [56]:
train_data.head()

   Feature1  Feature2  Feature3   Target_value
0 -0.951478 -4.954119 -4.572673     391.728338
1  3.876805  9.707116  6.012681   72127.820634
2  4.944532  8.173724  2.526409   35939.928053
3  8.422242  1.181565  3.208955  365974.814979
4  3.783887 -0.606017 -7.682480   21394.930705

In [57]:
test_data.head()

,6.501995617291942864e+00,-8.536982980274247623e+00,3.422934674177284364e+00,1.199802202461145789e+05
0,1.328383,8.943578,-8.145307,29890.224974
1,0.161478,-7.928351,1.628924,3245.579405
2,-8.989890,0.621330,-2.322925,411824.663771
3,5.185118,7.902611,7.559619,176097.137744
4,6.143466,9.274312,-0.544850,99400.008678

In [58]:
test_data.columns=["Feature1","Feature2","Feature3","Target_value"]

In [59]:
test_data.head()

   Feature1  Feature2  Feature3   Target_value
0  1.328383  8.943578 -8.145307   29890.224974
1  0.161478 -7.928351  1.628924    3245.579405
2 -8.989890  0.621330 -2.322925  411824.663771
3  5.185118  7.902611  7.559619  176097.137744
4  6.143466  9.274312 -0.544850   99400.008678

In [60]:
X_train = train_data.iloc[:, :-1]
y_train = train_data.iloc[:, -1]

In [61]:
X_test = test_data.iloc[:, :-1]
y_test = test_data.iloc[:, -1]

In [62]:
# Standardize the features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [63]:
# Support Vector Regression
svr_model = SVR(kernel='rbf')  # Radial Basis Function kernel
svr_model.fit(X_train_scaled, y_train)
svr_y_pred = svr_model.predict(X_test_scaled)

In [64]:
# Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train_scaled, y_train)
linear_y_pred = linear_model.predict(X_test_scaled)

In [65]:
# RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train_scaled, y_train)
rf_y_pred = rf.predict(X_test_scaled)

In [66]:
# GradientBoostingRegressor
gbr = GradientBoostingRegressor()
gbr.fit(X_train_scaled, y_train)
gbr_y_pred = gbr.predict(X_test_scaled)

In [67]:
# Evaluation Metrics
svr_mse = mean_squared_error(y_test, svr_y_pred)
svr_mae = mean_absolute_error(y_test, svr_y_pred)

linear_mse = mean_squared_error(y_test, linear_y_pred)
linear_mae = mean_absolute_error(y_test, linear_y_pred)

rf_mse = mean_squared_error(y_test, rf_y_pred)
rf_mae = mean_absolute_error(y_test, rf_y_pred)

gbr_mse = mean_squared_error(y_test, gbr_y_pred)
gbr_mae = mean_absolute_error(y_test, gbr_y_pred)

In [68]:
# Reporting Metrics
print("Support Vector Regression:")
print("Mean Squared Error:", svr_mse)
print("Mean Absolute Error:", svr_mae)
print()

print("Linear Regression:")
print("Mean Squared Error:", linear_mse)
print("Mean Absolute Error:", linear_mae)
print()

print("Random Forest Regression:")
print("Mean Squared Error:", rf_mse)
print("Mean Absolute Error:", rf_mae)
print()

print("Gradient Boosting Regression:")
print("Mean Squared Error:", gbr_mse)
print("Mean Absolute Error:", gbr_mae)

Support Vector Regression:
Mean Squared Error: 76045587663.7445
Mean Absolute Error: 148181.28762585204

Linear Regression:
Mean Squared Error: 61372702967.381004
Mean Absolute Error: 174749.6033713402

Random Forest Regression:
Mean Squared Error: 448525959.1343941
Mean Absolute Error: 10423.58908990574

Gradient Boosting Regression:
Mean Squared Error: 861282721.9202647
Mean Absolute Error: 18249.934778349365